################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NetCoreHRProject/.vs/NetCoreHRProject/v16/Server/sqlite3
